body {
    background: radial-gradient(
      circle at 18.7% 37.8%,
      rgb(250, 250, 250) 0%,
      rgb(225, 234, 238) 90%
    );
    color: #fff;
    font-family: arial, sans-serif;
  }
  
  h2 {
    position: relative;
    left: 50px;
  }
  
  .container {
    max-width: 650px;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(
      112.1deg,
      rgb(24, 29, 54) 11.4%,
      rgb(63, 76, 119) 70.2%
    );
  }
  
  .btn,
  .location {
    color: #142d4c;
    background-color: #eff3f4;
    font-size: 16px;
    font-weight: 550;
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .location {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
  }
  
  .temperature-large {
    font-family: "Inter Tight", sans-serif;
    font-size: 55px;
    font-weight: 400;
    position: relative;
    right: -20px;
  }
  
  .units {
    font-family: "Inter Tight", sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    bottom: 20px;
  }
  
  .celcius {
    color: white;
    text-decoration: none;
  }
  
  .fahrenheit {
    color: white;
    text-decoration: none;
  }
  
  .city-name {
    font-size: 45px;
    text-transform: capitalize;
    position: relative;
    right: -8px;
  }
  
  .cloud-icon {
    font-size: 90px;
    color: #aeb2b8;
  }
  
  .extrainfo {
    position: relative;
    top: 20px;
    right: -20px;
  }
  
  .enjoy-weather {
    font-size: 20px;
    font-style: italic;
    font-family: "Caveat", cursive;
    color: #ffcab0;
    position: relative;
    top: 5px;
    right: -70px;
  }
  
  .weather-icon {
    position: relative;
    top: -13px;
  }
  
  .time {
    font-family: "Sacramento", cursive;
    font-size: 14px;
    position: relative;
    left: -70px;
  }
  
  .dates {
    font-family: "Sacramento", cursive;
    font-size: 14px;
    position: relative;
    left: 87px;
  }
  
  .hr {
    margin-top: 0;
  }

  .weather-button {
    border: 1px solid transparent;
    background-color: #eff3f4;
    max-width: 80px;
    border-radius: 5px;
    margin: 5px 17px;
  }

  .weather-button:hover {
    background-color: #fff;
    transition: all 200ms ease-in-out;
    color: transparent;
  }


  .forecast-day {
    text-align: center;
    margin-top: 10px;
    color:#142d4c;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 12px;
  }
  
  
  
  .forecast-icon {
    color: #142d4c;
    font-size: 38px;
    text-align: center;
  }
  
  .forecast-temperature {
    font-size: 14px;
    font-weight: 700;
    font-family: "Inter Tight", sans-serif;
    color: #142d4c;
    text-align: center;
    line-height: 40px;
  }
  
  .forecast-temperature-min {
    font-weight: 400;
  }

  .half-hr {
    margin-bottom: 0;
    width: 37%;
    color:"#E4ECEF"
  }
  
  .footer {
    font-family: "Inter Tight", sans-serif;
    color: rgb(230, 221, 221);
    font-size: 12px;
    font-weight: 100;
    text-align: left;
  }
  
  a {
    color: #ffba98;
  }
  
  a:hover {
    color: white;
  }
  